#autoclickers{display: none}
div.tab {display: none}
div#main {display: block}
button.buyable{display: none}
.filler{display: none}

.card {
    border-style: solid;
    border-width: medium;
    padding: 3px;
    width: 150px;
    height: 300px;
    text-align: center;
}