#autoclickers {display: none}
#ppsdisp {display: none;}
div.tab {display: none}
div#main {display: block}

div.card {display: none;}
div#card1 {display: block;}

#card6pairwarning {display: none;}

button.buyable{display: none}
button.reset{display: none}
.filler{display: none}

button#chargereset{display: none; background-color: #ffff00}

#chargedisp {display: none}

.card {
    border-style: solid;
    border-width: medium;
    padding: 3px;
    width: 150px;
    height: 300px;
    text-align: center;
}
