#autoclickers {display: none}
#ppsdisp {display: none;}
div.tab {display: none}
div#pointsnstuff {display: block}

div.card {display: none;}
div#card1 {display: block;}

#card6pairwarning {display: none;}
#card9pairwarning {display: none;}

button.buyable{display: none}
button.reset{display: none}
.filler{display: none}

button#chargereset{display: none; background-color: #ffff40; border-color: black}

.cardsubtab {display: none;}

#chargedisp {display: none}

#tabnav {
    display: flex;
    justify-content: center;
}

.tabnavbutton {
    width: 100%; /* we want all the tabs covering the line */
    display: inline-block; /* make them in line */
}

.card {
    border-style: solid;
    border-width: medium;
    padding: 3px;
    width: 150px;
    height: 300px;
    text-align: center;
}
